<div class="modal-header">
    <h4 class="modal-title">Appointment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<form action="https://formspree.io/f/xayzrngw" method="post">
    <div class="modal-body">
        <div class="form-group-row">            
            <div class="row">
                <div class="col-xl-8 col-12">
                    <div class="form-group">
                        <label class="label-title">Name <span class="required">*</span></label>
                        <input class="form-control" name="Name" id="name" placeholder="Enter Your Name" required>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="form-group">
                        <label class="label-title">Phone <span class="required">*</span></label>   
                        <input class="form-control" name="Phone" id="phone" placeholder="Enter Your Phone Number" required>
                    </div>
                </div>     
            </div>              
        </div>
        <div class="form-group">
            <label class="label-title">Email </label>   
            <input class="form-control" name="email" id="Email" placeholder="Enter Your Email">
        </div>
        <div class="form-group-row">
            <label class="label-title fw-500 mb10">Vehicle Information</label> 
            <div class="row">
                <div class="col-xl-4 col-12">
                    <div class="form-group">
                        <label class="label-title">Vehicle Year</label>   
                        <select #selectedYear class="form-select" name="Vehicle year" (change)="changeyear(selectedYear.value)" required>
                            <option>Select Vehicle Year</option>
                            <option *ngFor="let year of vehicleYears" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="form-group">
                        <label class="label-title">Vehicle Make</label>   
                        <select #selectedMake class="form-select" name="Brand"  (change)="changebrand(selectedYear.value, selectedMake.value)" required>
                            <option>Select Vehicle Make</option>
                            <option *ngFor="let brand of brandlist" [value]="brand">{{brand}}</option>
                        </select>
                    </div>
                </div>           
                <div class="col-xl-4 col-12">
                    <div class="form-group">
                        <label class="label-title">Vehicle Model</label>   
                        <select class="form-select" name="Model" required>
                            <option>Select Model</option>
                            <option *ngFor="let model of modellist" [value]="model">{{model}}</option>
                        </select>
                    </div>
                </div>            
            </div>              
        </div>
        <div class="form-group">
            <label class="label-title">Special offers </label>   
            <select class="form-select" name="specialOffers">
                <option>Select Special offers</option>
                <option value="$15 off Windshield Replacement">$15 off Windshield Replacement</option>
                <option value="$10 off Window Tinting">$10 off Window Tinting</option> 
                <option value="$10 off Detailing Services">$10 off Detailing Services</option>                
            </select>
        </div>  
        <div class="form-group">
            <label class="label-title">Reason for Appointment</label>   
            <textarea class="form-control" name="reasonAppointment" id="reason-appointment" placeholder="Reason for Appointment"></textarea>
        </div>  
        <div class="form-group-row">  
            <label class="label-title fw-500 mb10">Choose Date and Time </label>           
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="form-group">
                        <label class="label-title">Date <span class="required">*</span></label>   
                        <div class="relative">
                            <input type="date" id="dateInput" [min]="minDate" class="form-control" name="Date" required>
                            <div class="dateIcon">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="26" height="26" fill="white"/>
                                    <path d="M19.5942 5.46387H6.40579C5.36525 5.46387 4.52173 6.30739 4.52173 7.34793V20.5363C4.52173 21.5769 5.36525 22.4204 6.40579 22.4204H19.5942C20.6347 22.4204 21.4783 21.5769 21.4783 20.5363V7.34793C21.4783 6.30739 20.6347 5.46387 19.5942 5.46387Z" stroke="#A3B5C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.7681 3.57959V7.34771" stroke="#A3B5C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.23193 3.57959V7.34771" stroke="#A3B5C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.52173 11.116H21.4783" stroke="#A3B5C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="form-group">
                        <label class="label-title">time <span class="required">*</span></label>   
                        <select class="form-select" name="Time" required>
                            <option value="">Select time</option>
                            <option value="9:00am - 9:30am">9:00am - 9:30am</option>
                            <option value="9:30am - 10:00am">9:30am - 10:00am</option>
                            <option value="10:00am - 10:30am">10:00am - 10:30am</option>
                            <option value="10:30am - 11:00am">10:30am - 11:00am</option>
                            <option value="11:00am - 11:30am">11:00am - 11:30am</option>
                            <option value="11:30am - 12:00am">11:30am - 12:00am</option>
                            <option value="12:00pm - 12:30pm">12:00pm - 12:30pm</option>
                            <option value="12:30pm - 1:00pm">12:30pm - 1:00pm</option>
                            <option value="1:00pm - 1:30pm">1:00pm - 1:30pm</option>
                            <option value="1:30pm - 2:00pm">1:30pm - 2:00pm</option>
                            <option value="2:00pm - 2:30pm">2:00pm - 2:30pm</option>
                            <option value="2:30pm - 3:00pm">2:30pm - 3:00pm</option>
                            <option value="3:00pm - 3:30pm">3:00pm - 3:30pm</option>
                            <option value="3:30pm - 4:00pm">3:30pm - 4:00pm</option>
                            <option value="4:00pm - 4:30pm">4:00pm - 4:30pm</option>
                            <option value="4:30pm - 5:00pm">4:30pm - 5:00pm</option>
                            <option value="5:00pm - 5:30pm">5:00pm - 5:30pm</option>
                            <option value="5:30pm - 6:00pm">5:30pm - 6:00pm</option>
                          </select>
                    </div>
                </div>    
            </div>              
        </div>
    </div>
    <div class="modal-footer">		
        <button type="submit" class="btn btn-div btn-primary">Submit</button> 
    </div>	
</form>